  <% invite ||= false %>
  <h3 class="card-title text-center">
    <%= link_to event.name, {controller: "events", action: "show", id: event.id} %>
  </h3>
  <div class="card-body p-1">
    <p class="card-text"><%= event.description%></p>
  </div>
  <div class="card-footer">
    <small>
      <%= event.location %><br>
      <%= event.event_date %>
    </small>
  </div>
  <% if invite %>
    <%= link_to 'Accept invitation', {controller: 'events', action: 'attend_event', event_id: event.id}, class: 'btn btn-success'%>
  <% end %>
