<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash[:notice] %>
      <p class="notice"><%= notice %></p>
    <% end %>
    
    <h1> <%= link_to 'PRIVATE EVENTS', root_path %></h1>

    <% if session[:current_user] %>
      <p ><%= session[:current_user] %></p>
      <%= link_to 'My profile', controller: "users", action: "show", id: session[:current_user_id] %>
      <%= link_to 'Sign Out', sign_out_path %>
    <% else %>
      <%= link_to 'Sign Up', sign_up_path %>
      <%= link_to 'Sign In', sign_in_path %>
    <% end %>
    <%= yield %>
  </body>
</html>
